name: Python application

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest pytest-mock requests coverage
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Run Tests with Coverage
        run: |
          export FLASK_APP=app/api.py
          export PYTHONPATH=${{ github.workspace }}    
          python3 -m flask run &
          sleep 5

          python3 -m coverage run --source=src -m pytest

      - name: Show coverage report
        run: |
          python3 -m coverage report -m

      - name: Fail if coverage report is below 100%
        run: |
          python3 -m coverage report --fail-under=100
