name: Python application

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flask requests pytest pytest-mock coverage behave
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run All Tests (Unit, Perf, BDD) with Coverage
        run: |
          export FLASK_APP=app/api.py
          export PYTHONPATH=${{ github.workspace }}

          python3 -m flask run &

          sleep 5

          python3 -m coverage run --source=src -m pytest

          behave

      - name: Show coverage report
        run: |
          python3 -m coverage report -m

      - name: Fail if coverage report is below 100%
        run: |
          python3 -m coverage report --fail-under=100
